.command-bar {
  padding: 16px 6px 10px 6px;
  display: flex;
  align-items: center;
}

.command-bar-separator {
  width: 1px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.12);
  margin: 0 8px;
}

:host-context(.dark-theme) .command-bar-separator {
  background-color: rgba(255, 255, 255, 0.12);
}
